.item_image_benefit img {
    width: 4.2rem;
    height: 4.2rem;;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

.benefit_text {
    margin-left: 1.2rem;
}

.benefit_placeholder {
    width: 4.2rem;;
    height: 4.2rem;;
    border-radius: 50%;
    background-color: #E2E2E2;
    font-size: 0;
}

.max-wid {
    max-width: 111.8rem;
    padding: 0 1.8rem;
    margin: auto;
}

.benefit_container .grid {
    column-gap: 7.8rem;
    row-gap: 3rem;
    grid-template-columns: repeat(5,1fr);
}

.benefit_container .item {
    min-width: 15.4rem;
}

.benefit_component {
    background-color: var(--color-bg-colours);
    padding: 2.1rem 0;
}

@media screen and (max-width: 768px) {
    .max-wid {
        padding: 0 0 0 1.8rem;
    }
    .benefit_content {
        margin-right: 1.2rem;
    }
}